* {
    font-size: 30px;
    text-transform: underline;
    font-family: Arial, sans-serif;
    font-weight: bold;
    font-style: italic;
}

.R {
    color: #ff0000;
}
.G {
    color: #00ff00;
}
.B {
    color:#0000ff;
}