* {
    font-size: 30px;
    text-transform: underline;
    font-family: Arial, sans-serif;
    font-weight: bold;
    font-style: italic;
}
.R {
    color: #ff0000;
    background-color: #000000;
}
.G {
    color: #00ff00;
    background-color: #000000;
}
.B {
    color:#0000ff;
    background-color: #000000;
}

.first {
background-color: black;
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    order: shuffle;
}
.second {
    background-color: green;
    width: 30px;
    height: 30px;
    margin: 5px;
    text-align: center;
}