.whiteSquareGrid {
    display: block;
    width:490px;
    height:490px;
    border: 1px solid black;
    background-color: white;
    box-sizing: border-box;
}

.graySquareGrid {
    display: inline-block;
    position: static;
    width:150px;
    height:150px;
    margin: 5px;
    border: 1px solid black;
    background-color: gray;
    box-sizing: border-box;
}

.orangeSquareGrid {
    display: inline-block;
    position: static;
    width:150px;
    height:150px;
    margin: 5px;
    border: 1px solid black;
    background-color: orange;
    box-sizing: border-box;
}

.redSquareGrid {
    width:50px;
    height:50px;
    border: 1px solid black;
    background-color: red;
    box-sizing: border-box;
}