div {
    background-color: orange;
    margin: 10px;
    text-align: center;
    height: 20vh;
    width: 45vw;
}

#container {
    display: inline-block;
    width: 40vw;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: left;
}
#info {
    display: inline-block;
    align-items: right;
    width: 45vw;
    height: 100vh;
}