u {
    --not-good: wavy underline orange;
    --wrong : waby underlind red;
}

.wrong {
    --warn: yellow;
}
.root {
    --font-small: 8px;
    --font-nomal: 16px;
    --font-large: 24px;
    --font-x-large: 32;
    --font-xx-large: 40;
    --font-xxx-large: 48px;

    --font-w-nomal: 400;
    --font-w-bold: 600;
    --font-w-extrabold: 900;

    --color-main: #ff4200;
    --color-sub: #865a55;
    --color-text:#4928
}